.guitarras-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.guitarra {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  position: relative;
}

.guitarra .contenido {
  padding: 1rem;
}

.guitarra .contenido h3 {
  font-size: 3rem;
  color: var(--primary);
}

.guitarra .descripcion {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-size: 1.8rem;
}

.guitarra .precio {
  color: var(--primary);
  font-size: 3rem;
  margin: 0;
  font-weight: 900;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario label {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.formulario select {
  text-align: center;
  padding: 1rem;
  border: 1px solid var(--black);
  border-radius: 1rem;
}

.formulario input {
  margin-top: 3rem;
  background-color: var(--primary);
  color: #fff;
  outline: none;
  padding: 2rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.formulario input:hover {
  background-color: #f3b64c;
}

.guitarra .message {
  background: #222;
  color: whitesmoke;
  position: absolute;
  right: 30px;
  border-radius: 10px;
  border: 2px solid;
  font-size: 2rem;
  padding: 1rem;
  bottom: -68px;
}

@media screen and (min-width: 700px) {
  .guitarras-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .guitarra .message {
    font-size: 2.5rem;
    bottom: -88px;
    padding: 2rem;
  }

}

@media screen and (min-width: 992px) {
  .guitarras-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}