.guitarras-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.guitarra {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

.guitarra .contenido {
  padding: 1rem;
}

.guitarra .contenido h3 {
  font-size: 3rem;
  color: var(--primary);
}

.guitarra .descripcion {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-size: 1.8rem;
}

.guitarra .precio {
  color: var(--primary);
  font-size: 3rem;
  margin: 0;
  font-weight: 900;
}

.guitarra .enlace {
  margin-top: 2rem;
  display: block;
  outline: none;
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: 900;
  transition: background-color 400ms;
  box-shadow: 5px 5px 11px 0px #838282;
}


.guitarra .enlace:hover {
  background-color: var(--primary);
}

@media screen and (min-width: 700px) {
  .guitarras-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .guitarras-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}